<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(error) { %>
        <div class="user-message user-message--error"><%= error %></div>
        <% } %>
        <div class="login-container">
            <div class="login-wrapper">
                <form class="login-form" action="/login" method="POST">
                    <div class="form-control">
                        <input class="<%=  validationError.find(e => e.param === 'email') ? 'invalid' : '' %>"
                            type="email" name="email" placeholder="Enter email" id="email" value="<%= oldKey.email %>">
                    </div>
                    <div class="form-control">
                        <input class="<%=  validationError.find(e => e.param === 'password') ? 'invalid' : '' %>"
                            type="password" name="password" placeholder="Enter password" id="password"
                            value="<%= oldKey.password %>">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Login</button>
                    <div class="centered">
                        <div id="forgot-password">
                            <a href="/resetPassword">Forgot Password</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="centered">

                <div class="logoHolder">
                    <img src="/icons/android-chrome-192x192.png" alt="logo">
                </div>
                <div id="create-account">
                    Don't have an account, <a href="/signup">Create new Account</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>