<div class="backdrop"></div>
<header class="main-header">
    <div class="mobile-header">
        <button id="side-menu-toggle"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36"
                viewBox="0 0 172 172" style=" fill:#000000;">
                <defs>
                    <linearGradient x1="43.2365" y1="0.2365" x2="125.02608" y2="82.02608" gradientUnits="userSpaceOnUse"
                        id="color-1_Rdp3AydLFY2A_gr1">
                        <stop offset="0.237" stop-color="#fbbc04"></stop>
                        <stop offset="0.85" stop-color="#fbbc04"></stop>
                    </linearGradient>
                    <linearGradient x1="43.2365" y1="43.2365" x2="125.02608" y2="125.02608"
                        gradientUnits="userSpaceOnUse" id="color-2_Rdp3AydLFY2A_gr2">
                        <stop offset="0.237" stop-color="#fbbc04"></stop>
                        <stop offset="0.85" stop-color="#fbbc04"></stop>
                    </linearGradient>
                    <linearGradient x1="43.2365" y1="86.2365" x2="125.02608" y2="168.02608"
                        gradientUnits="userSpaceOnUse" id="color-3_Rdp3AydLFY2A_gr3">
                        <stop offset="0.237" stop-color="#fbbc04"></stop>
                        <stop offset="0.85" stop-color="#fbbc04"></stop>
                    </linearGradient>
                </defs>
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="#00695c"></path>
                    <g>
                        <path
                            d="M154.08333,53.75h-136.16667c-3.94167,0 -7.16667,-3.225 -7.16667,-7.16667v-7.16667c0,-3.94167 3.225,-7.16667 7.16667,-7.16667h136.16667c3.94167,0 7.16667,3.225 7.16667,7.16667v7.16667c0,3.94167 -3.225,7.16667 -7.16667,7.16667z"
                            fill="url(#color-1_Rdp3AydLFY2A_gr1)"></path>
                        <path
                            d="M154.08333,96.75h-136.16667c-3.94167,0 -7.16667,-3.225 -7.16667,-7.16667v-7.16667c0,-3.94167 3.225,-7.16667 7.16667,-7.16667h136.16667c3.94167,0 7.16667,3.225 7.16667,7.16667v7.16667c0,3.94167 -3.225,7.16667 -7.16667,7.16667z"
                            fill="url(#color-2_Rdp3AydLFY2A_gr2)"></path>
                        <path
                            d="M154.08333,139.75h-136.16667c-3.94167,0 -7.16667,-3.225 -7.16667,-7.16667v-7.16667c0,-3.94167 3.225,-7.16667 7.16667,-7.16667h136.16667c3.94167,0 7.16667,3.225 7.16667,7.16667v7.16667c0,3.94167 -3.225,7.16667 -7.16667,7.16667z"
                            fill="url(#color-3_Rdp3AydLFY2A_gr3)"></path>
                    </g>
                </g>
            </svg></button>
        <div id="mobile-name">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Aromati</a>
        </div>
    </div>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <!-- <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">SignUp</a>
            </li> -->
            <% } else { %>
            <li class="main-header__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">

    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <% if (isAuthenticated) { %>
        <li class="mobile-nav__item">
            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
            </a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
            </a>
        </li>
        <% } %>
        <% if (!isAuthenticated) { %>
        <li class="mobile-nav__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
        </li>
        <% } else { %>
        <li class="mobile-nav__item">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Logout</button>
            </form>
        </li>
        <% } %>
    </ul>
</nav>
<!-- bootstrap used navbar -->
<!-- <nav class="navbar navbar-light navbar-expand-md">
        <a href="/" class="navbar-brand"> Aromati </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                </li>
                <li class="navbar-item">
                    <a class="<nav-link %= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li>
                <% if (isAuthenticated) { %>
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
                <% } %>
                <% if (!isAuthenticated) { %>
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link <%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
                <% } else { %>
                <li class="navbar-item">
                    <form class="nav-link" action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
    </nav> -->
<!-- <nav class="navbar">
        <ul class="navbar-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">SignUp</a>
            </li>
            <% } else { %>
            <li class="main-header__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav> -->
</header>