<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
            <li>
                <p><%= p.productData.title %> (<%= p.qty %>)</p>
                <form action="/buy-now-item" method="POST">
                    <input type="hidden" value="<%= p.productData.id %>" name="productId">
                    <button class="btn" type="submit">Buy</button>
                </form>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= p.productData.id %>" name="productId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>


            <% }) %>
        </ul>
        <div class="totalCartPrice">
            <h3>
                Total amount: <%= cartTotalPrice %> 
            </h3>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>