<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart__item-list">
      <% product.forEach(p => { %>
      <li class="cart__item">
        <h1><%= p.productId.title %></h1>
        <h2>Quantity: <%= p.quantity %></h2>
      </li>
      <% }) %>
    </ul>
    <div class="centered">
      <h2>Total: <%= totaltSum %></h2>
    </div>
    <div class="centered">
      <button id="order-btn" class="btn">
        Order
      </button>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>